@use '../core/variables' as *;

.page {
   // .page__header
   &__header {
      position: fixed;
      z-index: 11;
      top: 0;
      left: 0;

      width: 100%;

      transition: all 0.3s ease;

      &.with-shadow {
         color: $color-white;
         background: $background-dark;
         box-shadow: 0 0 9px $box-shadow;

         .burger-button {
            border: 1px solid $color-white;
            border-radius: 0.5rem;

            svg {
               stroke: $color-white;
            }
         }
      }
   }
}

.main-content {
   // .main-content__section
   &__section {
      padding-block: 4rem;
   }
}
