// *  Features Grid
@use '../../core/variables' as *;
@use '../../core/mixins' as *;

.features {
   padding-block: 4rem;
   background-color: $color-bg-light;

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @include screen-992 {
         grid-template-columns: repeat(2, 1fr);
      }

      @include screen-620 {
         grid-template-columns: 1fr;
      }
   }
}

.feature-card {
   padding: 2.4rem;
   border-radius: $border-radius;
   background: linear-gradient(150deg, rgb(239 222 210), $color-bg-light);

   //   background-color: $color-bg-light;
   box-shadow: $box-shadow;

   &__title {
      margin-bottom: 0.8rem;
      font-weight: 500;
   }

   &__text {
      font-size: 1.4rem;
      color: var(--color-text-default);
      opacity: 0.9;
   }
}
