// * Pricing
@use '../../core/variables' as *;
@use '../../core/mixins' as *;

.pricing {
   padding: 6rem 0;

   @include screen-490 {
      padding: 4rem 0;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.4rem;

      @include screen-992 {
         grid-template-columns: 1fr;
      }
   }
}

.price-card {
   position: relative;

   padding: 3rem;
   border: 1px solid $border-color;
   border-radius: $border-radius;

   box-shadow: $box-shadow;

   &--popular {
      border-color: $color-accent;
   }

   // .price-card__badge
   &__badge {
      position: absolute;
      top: -12px;
      left: 3.2rem;

      padding: 4px 12px;
      border-radius: 100vh;

      font-size: 11px;
      font-weight: 700;
      color: $color-white;
      text-transform: uppercase;
      letter-spacing: 2px;

      background-color: $color-accent;
   }

   // .price-card__title
   &__title {
      margin-bottom: 4px;
      font-size: 2.2rem;
   }

   // .price-card__subtitle
   &__subtitle {
      margin-bottom: 2.4rem;
      font-size: 14px;
      color: $color-text-muted;
   }

   // .price-card__features
   &__features {
      list-style: none;

      li {
         display: flex;
         align-items: center;
         margin-bottom: 12px;
         font-size: 14px;

         &::before {
            content: '✓';
            margin-right: 10px;
            color: $color-text;
         }
      }
   }
}
